In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('AB_NYC_2019.csv')
df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [7]:
# print(f'Mean: {df.price.mean()}')
print(f'Mean: {np.mean(df.price.values)}')
# print(f'Variance: {df.price.var()}')
print(f'Variance: {np.var(df.price.values)}')
print(df.shape)

Mean: 152.7206871868289
Variance: 57672.84569843359
(48895, 16)